.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.hidden {
    visibility: hidden;
}

.fromTop {
    position: relative;
    transform: translateY(-150px);
    animation: slideFromTop 2s forwards;
    opacity: 0;
}

@keyframes slideFromTop {
    100% { transform: translateY(0%); opacity: 1; }
}

.toTop {
    position: relative;
    transform: translateY(0%);
    animation: slideToTop 2s forwards;
    opacity: 1;
}

@keyframes slideToTop {
    100% { transform: translateY(-150px); opacity: 0; }
}