html, body {
    padding: 0;
    margin: 0;

    color: #fff;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

body.content-loading {
    overflow: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;

    /* Uncomment this for debugging and using OrbitControls */
    /* z-index: 999; */
}

div {
    z-index: 1;
}

#loading {    
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);    
}

#loading > .container {
    background-color: rgba(0, 0, 0, 0.7);

    padding: 4rem;
    border-radius: 7px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);

    text-align: center;
    font-weight: 100;
    font-size: 1.2rem;
}

.absolute_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    display: flex;
}

.panel {
    background-color: rgba(0, 0, 0, 0.8);

    backdrop-filter: blur(10px);

    padding: 4rem;
    margin: 2rem;

    border-radius: 7px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    margin-left: auto; 
    margin-right: auto; 
    width: 40vw;
    height: 30vh;
}

.left_panel {
    background-color: rgba(0, 0, 0, 0.8);

    backdrop-filter: blur(10px);

    padding: 4rem;
    margin: 2rem;

    border-radius: 7px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    width: 40vw;
    height: 60vh;

    margin-left: 5vw;
}

.panel h3,
.panel h4,
.left_panel h3,
.left_panel h4 {
    font-weight: 100;
}

.panel .text,
.left_panel .text {
    border-right: 1px solid #fff;
    padding-right: 10px;
    width: 80%;
}

.panel .mayor,
.left_panel .mayor {
    margin-left: 30px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel .mayor > img,
.left_panel .mayor > img {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.vertical_center {
    align-items: center;
}

#team ul li,
#resources ul li {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 100;
}

#team ul .and {
    list-style: none;
}

.left_align {
    text-align: left;
}

#what_is_it {
    width: 60vw;
    height: 70vh;
}

#what_is_it h4 {
    line-height: 2rem;
}

li > a {
    font-weight: 400;
    color: #2a9fd6;

    transition: color .1s;
}

li > a:hover {
    color: #e83e8c;
}